[submodule "java/xsd-forms/xsd-forms-orri-fork"]
	path = java/xsd-forms/xsd-forms-orri-fork
	url = https://github.com/orri93/xsd-forms.git
[submodule "java/pi4j/pi4j-orri-fork"]
	path = java/pi4j/pi4j-orri-fork
	url = https://github.com/orri93/pi4j.git
[submodule "java/mini-pid/mini-pid-orri-fork"]
	path = java/mini-pid/mini-pid-orri-fork
	url = https://github.com/orri93/MiniPID-Java.git
[submodule "apache/camel/camel-example-servlet-rest-tomcat-orri-fork"]
	path = apache/camel/camel-example-servlet-rest-tomcat-orri-fork
	url = https://github.com/orri93/camel-example-servlet-rest-tomcat.git
[submodule "apache/maven/solution/src/maven-solution-project-web/sub/swagger-ui-orri-fork"]
	path = apache/maven/solution/src/maven-solution-project-web/sub/swagger-ui-orri-fork
	url = https://github.com/orri93/swagger-ui.git
[submodule "c/cmake/moderncmake"]
	path = c/cmake/moderncmake
	url = https://gitlab.com/CLIUtils/modern-cmake.git
[submodule "c/cmake/cmake-gtest-gbench-starter"]
	path = c/cmake/cmake-gtest-gbench-starter
	url = https://github.com/PhDP/cmake-gtest-gbench-starter.git
[submodule "extern/web/real-time-data-viz-d3-crossfilter-websocket-tutorial"]
	path = extern/web/real-time-data-viz-d3-crossfilter-websocket-tutorial
	url = https://github.com/benjaminmbrown/real-time-data-viz-d3-crossfilter-websocket-tutorial.git
[submodule "extern/web/socket-io-typescript-chat"]
	path = extern/web/socket-io-typescript-chat
	url = https://github.com/luixaviles/socket-io-typescript-chat.git
[submodule "c/qt/cmake-qml-plugin-example"]
	path = c/qt/cmake-qml-plugin-example
	url = https://github.com/4rtzel/cmake-qml-plugin-example.git
[submodule "web/queue-worker-example"]
	path = web/queue-worker-example
	url = https://github.com/pilovm/queue-worker-example.git
[submodule "extern/web/serverless-scripting-examples"]
	path = extern/web/serverless-scripting-examples
	url = https://github.com/stackpath/serverless-scripting-examples.git
[submodule "extern/web/emscripten-cubes"]
	path = extern/web/emscripten-cubes
	url = https://github.com/mortennobel/emscripten-cubes.git
[submodule "extern/web/chart/arction/lcjs-showcase-trading"]
	path = extern/web/chart/arction/lcjs-showcase-trading
	url = https://github.com/Arction/lcjs-showcase-trading.git
[submodule "extern/web/chart/arction/lcjs-example-0802-spectrogram"]
	path = extern/web/chart/arction/lcjs-example-0802-spectrogram
	url = https://github.com/Arction/lcjs-example-0802-spectrogram.git
[submodule "extern/web/chart/arction/lcjs-showcase-audio"]
	path = extern/web/chart/arction/lcjs-showcase-audio
	url = https://github.com/Arction/lcjs-showcase-audio.git
