# Ignore all MS Office backups
~*.*

.settings/
target/
.classpath
.project
.cproject
.ino.cpp

# Visual Studio
.vs/
__vm/
out/

# Visual Studio Code
.vscode/
*.stackdump

build/

CMakeSettings.json

/artifacts
.Rproj.user
