/*
                    +----------------------------------------------+
                    |             CSS2GUI Tree (v0.0)              |
                    |                                              |
                    | Developed by:                Umesh Batra     |
                    | Created:                     Aug. 05, 2007   |
                    | Tested on :                  Safari, Firefox |
                    +----------------------------------------------+ 
*/ 
 
body { color:#ffffff; background-color:#4f4f4f; } 
 
table { color:#cccccc; background-color:#4f4f4f; } 
 
textarea { color:#333333; background-color:#aaaaaa; font-size:0.5em; font: 85% Helvetica, Arial, Verdana, sans-serif; } 
 
input { color:#333333; height: 25px; valign: top; background-color:#aaaaaa; font-size: 0.4em; font: 85% Helvetica, Arial, Verdana, sans-serif; } 
 
.label { color:#ffffff; background-color:#4f4f4f; font-size:0.5em; font: 85% Helvetica, Arial, Verdana, sans-serif; } 
 
a, a:link, a:active, a:visited { color:#aaaaaa; text-decoration:none; font-size:0.5em; font: 85% Helvetica, Arial, Verdana, sans-serif; } 
 
a:hover { color:#ffffff; text-decoration:none; font-size:0.5em; font: 85% Helvetica, Arial, Verdana, sans-serif; } 
 
/* Navigation bar fonts and colors */ 
.NavBarCell1    { background-color:#aaaaaa;} /* Light mauve */
.NavBarCell1Rev { background-color:#555555;} /* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#333333;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#aaaaaa;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#888888;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#888888;} 
  
 