<h3>{{pageName}}</h3>

<app-m2c1 #m2c1></app-m2c1>

<span>
  <span class="p6-button">
    <button mat-raised-button (click)="onStart();">Start</button>
  </span>
  <span class="p6-button">
    <button mat-raised-button (click)="onStop();">Stop</button>
  </span>
  <span class="p6-button">
    <button mat-raised-button (click)="onReset();">Reset</button>
  </span>
  <span class="p6-button" *ngIf="m2c1.supportsFullscreen">
    <button mat-raised-button (click)="m2c1.toggleFullscreen();">Toggle fullscreen</button>
  </span>
</span>
